.m_18a11a80 {
    width: calc(2.125rem * var(--mantine-scale));
    height: calc(2.125rem * var(--mantine-scale));
    border-radius: var(--mantine-radius-md);
    border: calc(.0625rem * var(--mantine-scale)) solid;
    display: flex;
    align-items: center;
    justify-content: center
}

[data-mantine-color-scheme=light] .m_18a11a80 {
    border-color: var(--mantine-color-gray-3);
    color: var(--mantine-color-gray-7);
    background-color: var(--mantine-color-white)
}

@media (hover: hover) {
    [data-mantine-color-scheme=light] .m_18a11a80:hover {
        background-color:var(--mantine-color-gray-0)
    }
}

@media (hover: none) {
    [data-mantine-color-scheme=light] .m_18a11a80:active {
        background-color:var(--mantine-color-gray-0)
    }
}

[data-mantine-color-scheme=dark] .m_18a11a80 {
    border-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6)
}

@media (hover: hover) {
    [data-mantine-color-scheme=dark] .m_18a11a80:hover {
        background-color:var(--mantine-color-dark-5)
    }
}

@media (hover: none) {
    [data-mantine-color-scheme=dark] .m_18a11a80:active {
        background-color:var(--mantine-color-dark-5)
    }
}

.villeuilinkicon {
    width:calc(1.375rem * var(--mantine-scale));
    height:calc(1.375rem * var(--mantine-scale));
}

:root {
    --app-shell-header-height: calc(3.75rem * var(--mantine-scale));
    --app-shell-header-offset: calc(3.75rem * var(--mantine-scale));
    --app-shell-padding: 0px;
}

@media (max-width: 35.99375em) {
    .mantine-visible-from-xs {
        display: none !important;
    }
}

@media (min-width: 36em) {
    .mantine-hidden-from-xs {
        display: none !important;
    }
}

@media (max-width: 47.99375em) {
    .mantine-visible-from-sm {
        display: none !important;
    }
}

@media (min-width: 48em) {
    .mantine-hidden-from-sm {
        display: none !important;
    }
}

@media (max-width: 61.99375em) {
    .mantine-visible-from-md {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .mantine-hidden-from-md {
        display: none !important;
    }
}

@media (max-width: 74.99375em) {
    .mantine-visible-from-lg {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .mantine-hidden-from-lg {
        display: none !important;
    }
}

@media (max-width: 87.99375em) {
    .mantine-visible-from-xl {
        display: none !important;
    }
}

@media (min-width: 88em) {
    .mantine-hidden-from-xl {
        display: none !important;
    }
}

.Shell_inner__3gWUn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%
}

.Shell_main__g9BIV {
    padding-bottom: calc(7.5rem * var(--mantine-scale))
}

.Banner_wrapper__g6dkO {
    position: relative;
    min-height: calc(43.75rem * var(--mantine-scale));
}

[data-mantine-color-scheme=dark] .Banner_wrapper__g6dkO {
    background-color: var(--mantine-color-dark-8)
}

.Banner_title__PG16e {
    color: var(--mantine-color-black)
}

[data-mantine-color-scheme=dark] .Banner_title__PG16e {
    color: var(--mantine-color-white)
}

.Banner_title__PG16e {
    font-family: Outfit,var(--mantine-font-family);
    font-size: calc(3.875rem * var(--mantine-scale));
    line-height: 1.1;
    font-weight: 500
}

.Banner_description__asVMP {
    color: var(--mantine-color-dark-8)
}

[data-mantine-color-scheme=dark] .Banner_description__asVMP {
    color: var(--mantine-color-dark-0)
}

.Banner_description__asVMP {
    line-height: 1.5;
    /*max-width: calc(36.25rem * var(--mantine-scale));*/
    margin-top: var(--mantine-spacing-xl);
    font-size: calc(1.5rem * var(--mantine-scale));
    text-align: center;
}

.Banner_body__K_Xm0 {
    flex: 0 0 calc(43.75rem * var(--mantine-scale));
    padding-top: calc(8.75rem * var(--mantine-scale));
    position: relative;
    z-index: 1
}

/* Home Page Sponsors */
.HomePageSponsors_sponsors__3YyzB {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-md);
    justify-content: center;
}

.HomePageSponsors_sponsor__c9Sun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-gray-2)
}

[data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun {
    border: 1px solid var(--mantine-color-dark-5)
}

.HomePageSponsors_sponsor__c9Sun {
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-bright);
    background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun {
    background-color: var(--mantine-color-dark-6)
}

@media (hover: hover) {
    .HomePageSponsors_sponsor__c9Sun:hover {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun:hover {
        background-color: var(--mantine-color-dark-5)
    }
}

@media (hover: none) {
    .HomePageSponsors_sponsor__c9Sun:active {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun:active {
        background-color: var(--mantine-color-dark-5)
    }
}

.HomePageSponsors_image__DWa8c {
    width: calc(5rem * var(--mantine-scale));
    height: calc(5rem * var(--mantine-scale));
    object-fit: contain;
}

.HomePageSponsors_description__UOTKq, .HomePageSponsors_name__MEYj1 {
    margin-top: calc(.3125rem * var(--mantine-scale))
}

.HomePageSponsors_description__UOTKq {
    max-width: calc(10rem * var(--mantine-scale));
    text-wrap: balance
}






