.m_18a11a80 {
    width: calc(2.125rem * var(--mantine-scale));
    height: calc(2.125rem * var(--mantine-scale));
    border-radius: var(--mantine-radius-md);
    border: calc(.0625rem * var(--mantine-scale)) solid;
    display: flex;
    align-items: center;
    justify-content: center
}

[data-mantine-color-scheme=light] .m_18a11a80 {
    border-color: var(--mantine-color-gray-3);
    color: var(--mantine-color-gray-7);
    background-color: var(--mantine-color-white)
}

@media (hover: hover) {
    [data-mantine-color-scheme=light] .m_18a11a80:hover {
        background-color:var(--mantine-color-gray-0)
    }
}

@media (hover: none) {
    [data-mantine-color-scheme=light] .m_18a11a80:active {
        background-color:var(--mantine-color-gray-0)
    }
}

[data-mantine-color-scheme=dark] .m_18a11a80 {
    border-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6)
}

@media (hover: hover) {
    [data-mantine-color-scheme=dark] .m_18a11a80:hover {
        background-color:var(--mantine-color-dark-5)
    }
}

@media (hover: none) {
    [data-mantine-color-scheme=dark] .m_18a11a80:active {
        background-color:var(--mantine-color-dark-5)
    }
}

.villeuilinkicon {
    width:calc(1.375rem * var(--mantine-scale));
    height:calc(1.375rem * var(--mantine-scale));
}

:root {
    --app-shell-header-height: calc(3.75rem * var(--mantine-scale));
    --app-shell-header-offset: calc(3.75rem * var(--mantine-scale));
    --app-shell-padding: 0px;
}

@media (max-width: 35.99375em) {
    .mantine-visible-from-xs {
        display: none !important;
    }
}

@media (min-width: 36em) {
    .mantine-hidden-from-xs {
        display: none !important;
    }
}

@media (max-width: 47.99375em) {
    .mantine-visible-from-sm {
        display: none !important;
    }
}

@media (min-width: 48em) {
    .mantine-hidden-from-sm {
        display: none !important;
    }
}

@media (max-width: 61.99375em) {
    .mantine-visible-from-md {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .mantine-hidden-from-md {
        display: none !important;
    }
}

@media (max-width: 74.99375em) {
    .mantine-visible-from-lg {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .mantine-hidden-from-lg {
        display: none !important;
    }
}

@media (max-width: 87.99375em) {
    .mantine-visible-from-xl {
        display: none !important;
    }
}

@media (min-width: 88em) {
    .mantine-hidden-from-xl {
        display: none !important;
    }
}

.Shell_inner__3gWUn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%
}

.Shell_main__g9BIV {
    --hp-primary-bg: linear-gradient(45deg,var(--mantine-color-green-6) 15%,var(--mantine-color-green-7)),linear-gradient(135deg,rgba(255,255,255,0.3) 25%,transparent),linear-gradient(45deg,rgba(0,0,0,0.3) 15%,transparent);
    --hp-primary-shadow: 0px 0px 15px 2px color-mix(in srgb,var(--mantine-color-green-filled),transparent 80%);
    --hp-primary-border: 3px solid var(--mantine-color-green-7)
    padding-bottom: calc(7.5rem * var(--mantine-scale))
}

[data-mantine-color-scheme=dark] .Shell_main__g9BIV {
    --hp-primary-bg: linear-gradient(45deg,var(--mantine-color-green-7) 15%,var(--mantine-color-green-8)),linear-gradient(135deg,rgba(255,255,255,0.3) 25%,transparent),linear-gradient(45deg,rgba(0,0,0,0.3) 15%,transparent);
    --hp-primary-shadow: 0px 0px 15px 2px color-mix(in srgb,var(--mantine-color-green-5),transparent 70%);
    --hp-primary-border: 3px solid var(--mantine-color-green-8)
}

.Banner_wrapper__g6dkO {
    position: relative;
    min-height: calc(43.75rem * var(--mantine-scale));
}

[data-mantine-color-scheme=dark] .Banner_wrapper__g6dkO {
    background-color: var(--mantine-color-dark-8)
}

.Banner_title__PG16e {
    color: var(--mantine-color-black)
}

[data-mantine-color-scheme=dark] .Banner_title__PG16e {
    color: var(--mantine-color-white)
}

.Banner_title__PG16e {
    font-family: Outfit,var(--mantine-font-family);
    font-size: calc(3.875rem * var(--mantine-scale));
    line-height: 1.1;
    font-weight: 500
}

.Banner_description__asVMP {
    color: var(--mantine-color-dark-8)
}

[data-mantine-color-scheme=dark] .Banner_description__asVMP {
    color: var(--mantine-color-dark-0)
}

.Banner_description__asVMP {
    line-height: 1.5;
    /*max-width: calc(36.25rem * var(--mantine-scale));*/
    margin-top: var(--mantine-spacing-xl);
    font-size: calc(1.5rem * var(--mantine-scale));
    text-align: center;
}

.Banner_body__K_Xm0 {
    flex: 0 0 calc(43.75rem * var(--mantine-scale));
    padding-top: calc(8.75rem * var(--mantine-scale));
    position: relative;
    z-index: 1
}

.HomePageTitle_title__Vmv_b {
    font-family: var(--docs-font-primary);
    font-weight: 450;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--mantine-color-bright);
    text-wrap: balance
}

.HomePageTitle_title__Vmv_b[data-order="1"] {
    font-size: calc(4.5rem * var(--mantine-scale))
}

@media (max-width: 61.99375em) {
    .HomePageTitle_title__Vmv_b[data-order="1"] {
        font-size:calc(2.25rem * var(--mantine-scale))
    }
}

.HomePageTitle_title__Vmv_b[data-order="2"] {
    font-size: calc(3.375rem * var(--mantine-scale))
}

@media (max-width: 61.99375em) {
    .HomePageTitle_title__Vmv_b[data-order="2"] {
        font-size:calc(2.375rem * var(--mantine-scale))
    }
}

.HomePageDescription_root__VdcJm {
    max-width: calc(41.875rem * var(--mantine-scale));
    font-size: var(--mantine-font-size-xl);
    color: var(--mantine-color-gray-7);
    margin-top: var(--mantine-spacing-lg);
    text-wrap: balance
}

[data-mantine-color-scheme=dark] .HomePageDescription_root__VdcJm {
    color: var(--mantine-color-dark-1)
}

/* Home Page Sponsors */
.HomePageSponsors_sponsors__3YyzB {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-md);
    justify-content: center;
}

.HomePageSponsors_sponsor__c9Sun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-gray-2)
}

[data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun {
    border: 1px solid var(--mantine-color-dark-5)
}

.HomePageSponsors_sponsor__c9Sun {
    text-decoration: none;
    font-size: var(--mantine-font-size-lg);
    color: var(--mantine-color-bright);
    background-color: var(--mantine-color-white);
}

[data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun {
    background-color: var(--mantine-color-dark-6)
}

@media (hover: hover) {
    .HomePageSponsors_sponsor__c9Sun:hover {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun:hover {
        background-color: var(--mantine-color-dark-5)
    }
}

@media (hover: none) {
    .HomePageSponsors_sponsor__c9Sun:active {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageSponsors_sponsor__c9Sun:active {
        background-color: var(--mantine-color-dark-5)
    }
}

.HomePageSponsors_image__DWa8c {
    width: calc(5rem * var(--mantine-scale));
    height: calc(5rem * var(--mantine-scale));
    object-fit: contain;
}

.HomePageSponsors_description__UOTKq, .HomePageSponsors_name__MEYj1 {
    margin-top: calc(.3125rem * var(--mantine-scale))
}

.HomePageSponsors_description__UOTKq {
    max-width: calc(10rem * var(--mantine-scale));
    text-wrap: balance
}

/* Home Page Widget Browser section */

.HomePageComponents_root__uexW5 {
    padding-block:var(--hp-block-spacing);}

.HomePageComponents_description__JLMyY {
    max-width: calc(62.5rem * var(--mantine-scale));
    margin-bottom: var(--mantine-spacing-xl)
}

/* Home Page Tabs */

.HomePageTabs_controls___TiQU {
    display: flex;
    gap: calc(.1875rem * var(--mantine-scale));
    position: relative
}

.HomePageTabs_control__Oee_u {
    font-size: var(--mantine-font-size-lg);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
    color: var(--mantine-color-gray-7)
}

[data-mantine-color-scheme=dark] .HomePageTabs_control__Oee_u {
    color: var(--mantine-color-dark-1)
}

.HomePageTabs_control__Oee_u {
    font-family: var(--docs-font-primary);
    transition: color .1s ease,background-color .1s ease;
    font-weight: 500;
    border-radius: var(--mantine-radius-md)
}

.HomePageTabs_control__Oee_u[data-active] {
    color: var(--mantine-color-blue-0)
}

.HomePageTabs_controlLabel__cdlU8 {
    position: relative;
    z-index: 2
}

@media (hover: hover) {
    .HomePageTabs_control__Oee_u:hover {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageTabs_control__Oee_u:hover {
        background-color: var(--mantine-color-dark-6)
    }

    .HomePageTabs_control__Oee_u:hover:not([data-active]) {
        color: var(--mantine-color-black)
    }

    [data-mantine-color-scheme=dark] .HomePageTabs_control__Oee_u:hover:not([data-active]) {
        color: var(--mantine-color-white)
    }
}

@media (hover: none) {
    .HomePageTabs_control__Oee_u:active {
        background-color:var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .HomePageTabs_control__Oee_u:active {
        background-color: var(--mantine-color-dark-6)
    }

    .HomePageTabs_control__Oee_u:active:not([data-active]) {
        color: var(--mantine-color-black)
    }

    [data-mantine-color-scheme=dark] .HomePageTabs_control__Oee_u:active:not([data-active]) {
        color: var(--mantine-color-white)
    }
}

.HomePageTabs_controlLabel__cdlU8 {
    position: relative;
    z-index: 2
}

.HomePageTabs_content__t1yFb {
    padding-top: var(--mantine-spacing-xl)
}

.HomePageTabs_indicator__U7Dx4 {
    cursor: pointer;
    background-image: var(--hp-primary-bg);
    box-shadow: var(--hp-primary-shadow);
    border-bottom: var(--hp-primary-border);
    border-radius: var(--mantine-radius-md);
    z-index: 1
}

/* Widget Browser pages */

@media (min-width: 62em) {
    .__m__-r10g {
        --sg-cols: 3;
    }
}

.__m__-r10g {
    --sg-spacing-x: var(--mantine-spacing-xl);
    --sg-spacing-y: calc(1.5625rem * var(--mantine-scale));
}

@media (min-width: 62em) {
    .__m__-r14h {
        --sg-cols: 2;
    }
}

.__m__-r14h {
    --sg-spacing-x: var(--mantine-spacing-xl);
    --sg-spacing-y: var(--mantine-spacing-xl);
}







