@import "../../../../node_modules/@mantine/core/styles/baseline.css";
@import "../../../../node_modules/@mantine/core/styles/default-css-variables.css";
@import "../../../../node_modules/@mantine/core/styles/global.css";
@import "../../../../node_modules/@mantine/core/styles/AppShell.css";





