@import "../../../../node_modules/@mantine/core/styles/baseline.css";
@import "../../../../node_modules/@mantine/core/styles/default-css-variables.css";
@import "../../../../node_modules/@mantine/core/styles/global.css";
@import "../../../../node_modules/@mantine/core/styles/AppShell.css";

@media (max-width: 35.99375em){
    .mantine-visible-from-xs 
    {
        display: none !important;
    }
}

@media (min-width: 36em) {
    .mantine-hidden-from-xs {
        display: none !important;
    }
}

@media (max-width: 47.99375em) {
    .mantine-visible-from-sm {
        display: none !important;
    }
}

@media (min-width: 48em) {
    .mantine-hidden-from-sm {
        display: none !important;
    }
}

@media (max-width: 61.99375em) {
    .mantine-visible-from-md {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .mantine-hidden-from-md {
        display: none !important;
    }
}

@media (max-width: 74.99375em) {
    .mantine-visible-from-lg {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .mantine-hidden-from-lg {
        display: none !important;
    }
}

@media (max-width: 87.99375em) {
    .mantine-visible-from-xl {
        display: none !important;
    }
}

@media (min-width: 88em) {
    .mantine-hidden-from-xl {
        display: none !important;
    }
}

:root {
    --app-shell-navbar-width: calc(12.5rem * var(--mantine-scale));
    --app-shell-navbar-offset: calc(12.5rem * var(--mantine-scale));
    --app-shell-header-height: calc(3.75rem * var(--mantine-scale));
    --app-shell-header-offset: calc(3.75rem * var(--mantine-scale));
    --app-shell-padding: var(--mantine-spacing-md);
}

@media(min-width: 62em) {
    :root {
        --app-shell-navbar-width: calc(18.75rem * var(--mantine-scale));
        --app-shell-navbar-offset: calc(18.75rem * var(--mantine-scale));
        --app-shell-header-height: calc(4.375rem * var(--mantine-scale));
        --app-shell-header-offset: calc(4.375rem * var(--mantine-scale));
    }
}

@media(min-width: 75em) {
    :root {
        --app-shell-navbar-width: calc(25rem * var(--mantine-scale));
        --app-shell-navbar-offset: calc(25rem * var(--mantine-scale));
        --app-shell-header-height: calc(5rem * var(--mantine-scale));
        --app-shell-header-offset: calc(5rem * var(--mantine-scale));
    }
}

@media(max-width: 47.99375em) {
    :root {
        --app-shell-navbar-width: 100%;
        --app-shell-navbar-offset: 0px;
        --app-shell-navbar-transform: translateX(calc(var(--app-shell-navbar-width) * -1));
        --app-shell-navbar-transform-rtl: translateX(var(--app-shell-navbar-width));
    }
}





