.MobileNavbar_control__jg3Mn {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500
}

@media (hover:hover) {
    .MobileNavbar_control__jg3Mn:hover {
        background-color: var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .MobileNavbar_control__jg3Mn:hover {
        background-color: var(--mantine-color-dark-6)
    }
}

@media (hover:none) {
    .MobileNavbar_control__jg3Mn:active {
        background-color: var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .MobileNavbar_control__jg3Mn:active {
        background-color: var(--mantine-color-dark-6)
    }
}

.ExamplesDrawer_control__6DkUi {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-md)
}

@media (hover:hover) {
    .ExamplesDrawer_control__6DkUi:hover:not([data-active]) {
        background-color: var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .ExamplesDrawer_control__6DkUi:hover:not([data-active]) {
        background-color: var(--mantine-color-dark-6)
    }
}

@media (hover:none) {
    .ExamplesDrawer_control__6DkUi:active:not([data-active]) {
        background-color: var(--mantine-color-gray-0)
    }

    [data-mantine-color-scheme=dark] .ExamplesDrawer_control__6DkUi:active:not([data-active]) {
        background-color: var(--mantine-color-dark-6)
    }
}

.ExamplesDrawer_control__6DkUi[data-active] {
    color: var(--mantine-color-blue-light-color);
    background-color: var(--mantine-color-blue-light)
}

.ExamplesDrawer_name__cSMJI {
    display: block;
    font-weight: 500;
    color: inherit
}

.ExamplesDrawer_description__YAEM2 {
    display: block;
    opacity: .6;
    font-size: var(--mantine-font-size-sm);
    color: inherit
}

.ExamplesDrawer_menuButton__XwDnU {
    padding-inline-end: calc(.3125rem * var(--mantine-scale))
}

@media (max-width: 35.99375em){
    .mantine-visible-from-xs 
    {
        display: none !important;
    }
}

@media (min-width: 36em) {
    .mantine-hidden-from-xs {
        display: none !important;
    }
}

@media (max-width: 47.99375em) {
    .mantine-visible-from-sm {
        display: none !important;
    }
}

@media (min-width: 48em) {
    .mantine-hidden-from-sm {
        display: none !important;
    }
}

@media (max-width: 61.99375em) {
    .mantine-visible-from-md {
        display: none !important;
    }
}

@media (min-width: 62em) {
    .mantine-hidden-from-md {
        display: none !important;
    }
}

@media (max-width: 74.99375em) {
    .mantine-visible-from-lg {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .mantine-hidden-from-lg {
        display: none !important;
    }
}

@media (max-width: 87.99375em) {
    .mantine-visible-from-xl {
        display: none !important;
    }
}

@media (min-width: 88em) {
    .mantine-hidden-from-xl {
        display: none !important;
    }
}

:root {
    --app-shell-navbar-width: calc(18.75rem * var(--mantine-scale));
    --app-shell-navbar-offset: calc(18.75rem * var(--mantine-scale));
    --app-shell-header-height: calc(3.75rem * var(--mantine-scale));
    --app-shell-header-offset: calc(3.75rem * var(--mantine-scale));
    --app-shell-padding: var(--mantine-spacing-md);
}

@media(min-width: 48em) {
    :root {
        --app-shell-navbar-transform: translateX(calc(var(--app-shell-navbar-width) * -1));
        --app-shell-navbar-transform-rtl: translateX(var(--app-shell-navbar-width));
        --app-shell-navbar-offset: 0px !important;
    }
}

@media(max-width: 47.99375em) {
    :root {
        --app-shell-navbar-width: 100%;
        --app-shell-navbar-offset: 0px;
        --app-shell-navbar-transform: translateX(calc(var(--app-shell-navbar-width) * -1));
        --app-shell-navbar-transform-rtl: translateX(var(--app-shell-navbar-width));
    }
}





