@import "../../../../node_modules/@mantine/core/styles/baseline.css";
@import "../../../../node_modules/@mantine/core/styles/default-css-variables.css";
@import "../../../../node_modules/@mantine/core/styles/global.css";
@import "../../../../node_modules/@mantine/core/styles/ActionIcon.css";

.ville-mantineapp-Application {
    padding:calc(0.75rem * var(--mantine-scale));

    div.ville-mantineapp-InnerAppContainer {
        margin-left:auto;
        margin-right:auto;
        padding-top:calc(2.5rem * var(--mantine-scale));
        max-width:calc(26.25rem * var(--mantine-scale));
    }
}

.ville-mantineapp-AuthButtonGroup {
    margin-top:var(--mantine-spacing-md);
    margin-bottom:var(--mantine-spacing-md);

    button {
        --button-radius:var(--mantine-radius-xl);
        --button-bg:var(--mantine-color-default);
        --button-hover:var(--mantine-color-default-hover);
        --button-color:var(--mantine-color-default-color);
        --button-bd:calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-default-border);
    }
}

.ville-mantineapp-LoginFormStack {
    label {
        width:100%;
    }
}

.ville-mantineapp-LoginForm-PasswordInputWrapper {
    --input-radius:var(--mantine-radius-md);
    --input-left-section-pointer-events:none;
    --input-right-section-pointer-events:all;

    button {
        --ai-radius:var(--mantine-radius-md);
        --ai-bg:transparent;
        --ai-hover:var(--mantine-color-gray-light-hover);
        --ai-color:var(--mantine-color-gray-light-color);
        --ai-bd:calc(0.0625rem * var(--mantine-scale)) solid transparent;
    }
}

.ville-mantineapp-LoginFormButtonGroup {
    --group-gap:var(--mantine-spacing-md);
    --group-align:center;
    --group-justify:space-between;
    --group-wrap:wrap;
    margin-top:var(--mantine-spacing-xl);

    button:first-child {
        --text-fz:var(--mantine-font-size-xs);
        --text-lh:var(--mantine-line-height-xs);
        color:var(--mantine-color-dimmed);
    }

    button:last-child {
        --button-radius:var(--mantine-radius-xl);
        --button-color:var(--mantine-color-white);
    }
}



